body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
*{
  font-family: 'Roboto', sans-serif;
}
.move{
  margin-top: 10px;
}
#moove{
 position: absolute;
 right: 10px;
}
.Company{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 60px;
  font-weight: bold;
}
.left{
  background-color: #1d2f92;
    width: 100%;
    margin: 0px;
    height: 50px;
}
.companyname{
    text-align: center;
    font-size: 24px;
    color: #fffefe;
}
.owner{
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 30px;
}
/* Fixed sidenav, full height */
.sidenav {
  width: 20%;
  z-index: 1;
  background-color: #333a66;
 overflow-x: hidden;
 padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #dadada;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #ffffff;
  }
  
  /* Main content */
  .main {
    width: 80%;
    background-color: #f1f1f1;
  }
  
  #a{
    float: left;
    height: 610px;
  }
  /* Add an active class to the active dropdown button */
  .active {
    background-color:#061983;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #2e3b81;
    padding-left: 8px;
    font-size: 11px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.cc{
  display: block;
  font-size: 15px;
  padding: 5px;
  width: 260px;
  margin-bottom: 10px;
  cursor: pointer;
  
}

/*click dropdown to my acct*/

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0px;
  font-size: 25px;
  border: none;
  position: absolute;
  left: 860px;
  top: -10px;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 300px;
  width: 40px;
  height: 40px;
}

.dropdown-content {
  display: none;
  right: 2px;
  top: 45px;
  position: absolute;
  background-color: #f1f1f1;
  width: 102px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  float: center;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.frame{
  padding: 8px;
  width: 100%;
  height: 99%;
  box-sizing: border-box;
  border: none;
}
.addbusines{
  background-color: white;
  padding: 10px;
  font-size: 20px;
}
div.busin-right{
  height: 520px;
  background-color: white;
  margin-top: 10px;
  padding: 8px;
  position: relative;
}
.sale{
  height: 40px;
}
.new{
  padding: 10px 20px;
  background-color: rgb(6, 80, 241);
  color: white;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 260px;
  position: relative;
}
label{
  display: block;
  margin-top: 15px;
}
.add-business{
  margin-top: 20px;
  font-size: 20px;
}
.in {
  padding: 5px;
  font-size: 16px;
  width: 100%;
}
.save{
  background-color: #061983;
  color: #d4d4d4;
  padding: 10px 50px;
  border: none;
  margin-top: 20px;
  margin-left: 125px;
  border-radius: 5px;
}
.save:hover{
  background-color: #041fbd;
  color: #ffffff;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.list_business{
  margin-top: 5px;
  border: 1px solid black;
  height: 450px;
  box-sizing: border-box;
}
    /*click dropdown to my acct*/
/*

  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }