body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.left{
  background-color: #1d2f92;
    width: 100%;
    margin: 0px;
    height: 50px;
}
.companyname{
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}
.owner{
    text-align: center;
    font-size: 14px;
    color: #fffbfb;
    margin-bottom: 30px;
}

.dropdown {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 1225px;
  width: 40px;
  height: 40px;
}

.dropdown-content {
  display: none;
  right: 2px;
  top: 45px;
  position: absolute;
  background-color: #f1f1f1;
  width: 102px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  float: center;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
 .frame{
    padding: 8px;
    width: 100%;
    height: 99%;
    box-sizing: border-box;
    border: none;
  }
    /*click dropdown to my acct*/

.addbusines{
  background-color: white;
  padding: 10px;
  font-size: 20px;
}
.search-container{
  position: absolute;
  top: 10px;
  left: 200px;
  width: 50%;
  }
.search{
  height: 35px;
  width: 70%;
  padding: 10px;
}

.busin-left{
  height: 50px;
}
div.busin-right{
  height: 520px;
  background-color: white;
  margin-top: 10px;
  padding: 8px;
  position: relative;
}

.business-selection{
  width: 120px;
  padding: 11px 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
}
.myInput {
  background-image: url('/Sad-Activity/picture/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #c5c5c5;
  margin-bottom: 12px;
}
.new{
  padding: 10px 20px;
  background-color: rgb(6, 80, 241);
  color: white;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

div.container1, div.container1-1{
 display: inline-block;
}
div.container1-1{
  position: absolute;
  text-align: center;
}
.nameofproduct{
  margin: 5px;
  padding: 5px;
  width: 410px;
  font-size: 15px;
}
div.container1{
  position: relative;
 background-color: white;
 justify-content: center;
 align-items: center;
 width: 380px;
 position: absolute;
 top: 40px;
 left: 40px;
}

*{
  font-family: 'Roboto', sans-serif;
}


.Company{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 15px;
  font-weight: bold;
  left: 60px;
}

.List_of_product{
  height: 450px;
}
.product{
  border: 1px solid black;
  height: 400px;
}
/*

  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }