body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.Company{
color: white;
font-size: 20px;
position: absolute;
top: 15px;
font-weight: bold;
left: 60px;
}
*{
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
}
.left{
background-color: #1d2f92;
  width: 100%;
  margin: 0px;
  height: 50px;
}
.companyname{
  text-align: center;
  font-size: 24px;
  color: #fffdfd;
}
.owner{
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 30px;
}
/* Fixed sidenav, full height */
.sidenav {
width: 20%;
z-index: 1;
background-color: #333a66;
overflow-x: hidden;
padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #dadada;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #ffffff;
}

/* Main content */
.main {
  width: 80%;
  background-color: #f1f1f1;
}

#a{
  float: left;
  height: 610px;
}
/* Add an active class to the active dropdown button */
.active {
  background-color:#061983;
  color: white;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*click dropdown to my acct*/

.dropbtn {
background-color: transparent;
color: white;
padding: 10px;
font-size: 25px;
border: none;
cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 1245px;
  width: 40px;
  height: 40px;
}

.dropdown-content {
  display: none;
  right: 2px;
  top: 45px;
  position: absolute;
  background-color: #f1f1f1;
  width: 102px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  float: center;
  display: block;
}
.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.frame{
  padding: 8px;
  width: 100%;
  height: 99%;
  box-sizing: border-box;
  border: none;
}
  /*click dropdown to my acct*/

.addbusines{
background-color: white;
padding: 10px;
font-size: 20px;
}

div.busin-right{
height: 500px;
margin-top: 10px;
position: relative;
}
.small{
font-size: 14px;
margin-left:0px;
}


/*my acctount*/

.picture{
border-radius: 60%;
width: 200px;
height: 200px;
}
div.myprofile{
background-color: white;
width: 30%;
margin-right: 10px;
text-align: center;
height: 490px;
padding-top: 10px;
}
div.myprofile, div.container-accountsetting{
display: inline-block;
}
div.container-accountsetting{
background-color: white;
width: 69%;
height: 490px;
position: absolute;
padding:10px 20px;

}
div.container{
position: relative;
height: auto;
}

/*this is for tabbed pane css*/
.w3-black{
border: none;
border-bottom:1px solid rgb(180, 180, 180) ;
text-align: right;
}
.tabpane-button{
font-size: 15px;
padding: 7px;
margin: 0px;
background-color: transparent;
border: none;

}
.tabpane-button:active,.tabpane-button:link{
border-bottom: 2px solid blue;
}
/*user account info*/
.user{
width: 200px;
display: block;
padding: 8px;
}
.user-acct{
float: left;
margin-top: 15px;
}
.middle{
width: 120px;
float: left;
margin-left: 30px;
}
.comname{
margin-left: 30px;
}
.secret_questt{
display: block;
font-size: 15px;
padding: 8px;
}
.userr{
margin-top: 5px;
padding: 8px;
width: 215px;
}
.middlee{
width: 120px;
padding: 8px;
}
.submit-useracct{
padding: 13px;
position: absolute;
right: 10px;
color: #e6e6e6;
bottom: 10px;
border: none;
background-color: rgb(16, 2, 143);
font-weight: bold;
cursor: pointer;
}
.submit-useracct:hover{
color: white;
background-color: rgb(23, 5, 182);
}
.secret_quest{
display: block;
float: left;
margin-top: 15px;
}
/*tabedpane password*/
.password-change{
display: block;
padding: 8px;
width: 100%;
margin-top: 5px;
}
.container-password{
margin-top: 20px;
}
/*change avatar*/
.labelchoosefile{
background-color: rgb(187, 187, 187);
padding: 5px 10px;
display: block;
margin: 5px;
text-align: center;
width: 150px;
cursor: pointer;

}
.labelchoosefile:hover, .labelchoosefile:active{
background-color: rgb(180, 180, 180);
}
.acctinfo input[type='file']{
display: none;
}
.file{
display: block;
margin: 5px;
padding: 5px;
}
.addpicture{
margin-top: 10px;
width: 320px;
height: 190px;
padding: 5px;
outline: 1px solid black;
}

