body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
*{
  font-family: 'Roboto', sans-serif;
}
.Company{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 60px;
}
.left{
  background-color: #1d2f92;
    width: 100%;
    margin: 0px;
    height: 50px;
}
.companyname{
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}
.owner{
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 30px;
}
/* Fixed sidenav, full height */
.sidenav {
  width: 20%;
  z-index: 1;
  background-color: #333a66;
 overflow-x: hidden;
 padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #dadada;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #ffffff;
  }
  
  /* Main content */
  .main {
    width: 80%;
    background-color: #f1f1f1;
  }
  
  #a{
    float: left;
    height: 610px;
  }
  /* Add an active class to the active dropdown button */
  .active {
    background-color:#061983;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #2e3b81;
    padding-left: 8px;
    font-size: 11px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*click dropdown to my acct*/

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.dropdown-content {
  display: none;
  right: 2px;
  position: absolute;
  background-color: #f1f1f1;
  width: 102px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  float: center;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.frame{
  padding: 8px;
  width: 100%;
  height: 99%;
  box-sizing: border-box;
  border: none;
}
.addbusines{
  background-color: white;
  padding: 10px;
  font-size: 20px;
}
div.busin-right{
  height: 520px;
  background-color: white;
  margin-top: 10px;
  padding: 8px;
  position: relative;
}
.sale{
  position: absolute;
  border: 2px solid rgb(173, 173, 173);
  top: 15px;
  left: 4%;
  width: 600px;
  height: 350px;
  border-radius: 5px;
}
.filter_sale{
  width: 100px;
  font-size: 15px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.top_sale{
  position: absolute;
  border: 2px solid rgb(173, 173, 173);
  height: 400px;
  width: 280px;
  top: 15px;
  border-radius: 5px;
  right: 40px;
}
.income {
  border: 2px solid rgb(173, 173, 173);
  position: absolute;
  width: 300px;
  padding: 10px;
  left: 4%;
  top: 370px;
}
    /*click dropdown to my acct*/
/*

  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
