body{
    padding: 0px;
    margin: 0px;
}
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container-1{
    position: relative;
    background-color: rgb(43, 122, 192);
    width: 100%;
    height: 60px
    
}

.name_web{
    color: white;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 60px;
}
.name_staff{
    font-size: 19px;
    position: absolute;
    top: 20px;
    right: 100px;
    font-weight: bold;
    color: white;
}
.logut{
text-decoration: none;
font-size: 15px;
position: absolute;
top: 13px;
color: rgb(221, 221, 221);
right: 15px;
background-color: rgb(2, 2, 161);
font-weight: bold;
padding: 10px;
border-radius: 5px;
}
.logut:hover{
    background-color: rgb(0, 0, 211);
    color: white;
}
.container-2{
    width: 60%;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 20px;
   
}
#search{
    width: 560px;
    height: 30px;
}
.salestable{
    margin-top: 10px;
}
.clock-display{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(49, 49, 49);
    font-size: 17px;
    width: 100%;
    color: white;
}
.container-3{
    background-color: rgb(204, 200, 200);
    width: 40%;
    position: relative;
    padding: 10px; 
    text-align: center;
}
.Branchname{
    color: black;
    font-size: 30px;
    margin-top: 199px;
    font-weight: bold;
}
.container-3,.container-2{
    float: left;
    height: 586px;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
table {
    width: 100%;
}
.submit{
    width: 100%;
    height: 40px;
    text-align: left;
    padding: 5px;
    font-size: 25px;
    margin-top: 15px;
}

.logo_business{
    position: absolute;
    left: 29%;
    top: 20px;
    width: 230px;
}
.total_label{
    color: rgb(29, 29, 29);
    font-weight: bold;
    font-size: 20px;
}
.purchase{
    margin-top: 15px;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    color: rgb(238, 238, 238);
    font-weight: bold;
    background-color: rgba(0, 206, 0, 0.719);
}
.purchase:hover, .purchase:active.fa-cart:hover{
    background-color: rgb(14, 233, 14);
    color: white;
}
.tot{
    position: absolute;
    text-align: left;
    bottom: 145px;
    width: 96%;
}

.total_input{
    width: 100%;
    height: 50px;
}
.table {
    text-align: center;
    border-collapse: collapse;
}
td{
    border-collapse: collapse;
    padding: 10px;
}